extends ../index

include ../search/index
include ../favorites/index
include ../results/index
include ../detail/index

block content
    h1 Hola, #{name}!
    form(action='/logout' method='post')
        button Logout
    +favorites()
    +search(query)
    if(ducks)
        +results(ducks, favs)
    if(duck)
        +detail(duck)
